h1 {
    text-align: center;
    /*color: rgb(207, 46, 46);*/
    margin-bottom: 12px;
    font-family: sans-serif;
}
h2 {
    color: black;
    display: block;
    font-size: 17px;
    width: 6em;
    font-family: sans-serif;
    text-transform: uppercase;
}
ul.unformat-list {
    margin-top: 0;
}
p.unformat-p {
    margin-bottom: 0;
}
div.unformat-p {
    margin-bottom: 0;
}
#contact {
    text-align: center;
    margin-bottom: 1.5em;
}
.section {
    display: flex;
    
}
.section-content {
    margin-left: 3em;
    flex-shrink: 50;
}
a.pretty-link:link {
    color: green;
}

